- class_name = @comment.commentable.class.name.downcase
- id_prefix = dom_id(@comment.commentable, 'fat_free_crm')

$('##{id_prefix}_shown_notes').val('#{ j @comment.commentable.comment_ids.join(',') }');
$('##{dom_id(@comment, 'fat_free_crm')}').css('background-color', '#ffe4e1').slideUp(250);
