- id = dom_id(@group, 'fat_free_crm')
- if @group.destroyed?
  $('##{id}').css('background-color', '#ffe4e1').slideUp(250);
- else
  crm.flick("#{dom_id(@group, :confirm_fat_free_crm)}, 'remove')");
  $('#flash').html('#{ j flash[:warning] }');
  crm.flash('warning');
  - flash[:warning] = nil
