- class_name = @email.mediator.class.name.downcase
- id_prefix = dom_id(@email.mediator, 'fat_free_crm')

$('##{id_prefix}_shown_emails').val('#{ j @email.mediator.email_ids.join(',') }');
$('##{dom_id(@email, 'fat_free_crm')}').css('background-color', '#ffe4e1').slideUp(250);
