- id = dom_id(@user, :confirm_fat_free_crm)

if ($('##{id}').size() > 0) {
crm.flick('#{id}', 'remove');
} else {
$('##{dom_id(@user, 'fat_free_crm')}').prepend('#{ j (render partial: "confirm") }');
}
