<% model = "FatFreeCrm::#{controller.controller_name.classify}".constantize %>
<% sort_by_menu_items = model.sort_by_fields.map { |field| options_menu_item(:sort_by, field) } %>
<% current_sort_by = t("option_" + model.sort_by_map.invert[@sort_by]) %>
<div style="margin: 0px 0px 6px 0px">

  <div class="tabs search-form-filter-value">
    <ul>
      <% FatFreeCrm::Setting.unroll(:lead_source).each do |source|%>
      <li>
        <%= link_to t(source.first), '#',:"data-search-form-filter-value" => source.last, :"data-parent-search-form-filter" => "source", :"data-parent-search-form" => "basic_search",class: (params[:filter_by_value] == source.last  ? "" : " active") %>
      </li>
      <% end %>
    </ul>
  </div>

</div>
