- if (controller.controller_name == 'campaign_urls') and (template = template_for_current_view).present?
  = render(template, campaign_url: campaign_url)
- else
  -# default view
  = render 'fat_free_crm/campaign_urls/index_brief', campaign_url: campaign_url
