- if (controller.controller_name == 'email_designs') and (template = template_for_current_view).present?
  = render(template, email_design: email_design)
- else
  -# default view
  = render 'fat_free_crm/email_designs/index_brief', email_design: email_design
